body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: .875rem;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.stats {
  .wrapper {
    display: flex;

    .stat {
      width: 33.33%;
      text-align: center;

      div:first-child {
        font-size: 2rem;
      }

      &:nth-child(1) {
        color: orange;
      }

      &:nth-child(2) {
        color: red;
      }

      &:nth-child(3) {
        color: green;
      }
    }
  }
}