body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: .875rem;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.info {
  margin-top: 2rem;
  text-align: center;

  h2 {
    margin: 0;
  }

  a {
    font-size: 3rem;
    text-decoration: none;
  }
}

.stats {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .stat {
      padding: 0 1.5rem;
      text-align: center;

      div:first-child {
        font-size: 3rem;
      }

      &:nth-child(1) {
        color: #ffc107;
      }

      &:nth-child(2) {
        color: #dc3545;
      }

      &:nth-child(3) {
        color: #28a745;
      }
    }
  }
}

.helpful-links {
  ul {
    li {
      margin: 1rem 0;
    }
  }
}

footer {
  margin-top: 3rem;
  text-align: center;
}